.container {
    background: rgb(175,193,245);
    background: linear-gradient(90deg, rgba(175,193,245,1) 0%, rgba(245,194,155,1) 100%);
    min-height: 100vh;
}


.login {
    width: 426px;
    height: 490px;
    background-image: url("../images/bg-login.svg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Nunito",sans-serif;
    margin-top: 50px;
}
.login__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 50px;
}
.login__header{
    
    font-size: 4rem;
    font-family: "Nunito",sans-serif;
    color: var(--text-color2);
    line-height: 55px;
    margin-bottom: 36px;
    margin-top: 0px;
    font-weight: 700;
}
.login__logo{
    margin-bottom: 36px;
}
.button {
    min-width: 142px;
    height: 40px;
    text-decoration: none;
    border:none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0px 12px;
    color:var(--text-color);
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--google {
    margin-bottom: 36px;
    min-width: 270px;
    height: 40px;
    border-radius: 50px;
    background-color:var(--white-color);
    color: var(--base-color);
    font-weight: 700;
    font-size: 2rem;

}
.button--google:hover{
    background-color:#eee;
}
.login__icon-google {
    width: 25px;
    height: 25px;
    margin-right: 1.8rem;
}