
footer{
  
    margin-top: 5rem;
    position: relative;
    bottom: -1rem;
    background-color: var(--base-color);
}
.grid__full-width{
    display: flex;
    justify-content: space-between;
}
footer .grid-custom{
  
    display: grid;
    /* grid-template-columns:  1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding: 36px 0px;
    grid-gap: 10px;
}
.footer-col h4{
    font-family: 'Nunito';
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f6993f;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding-left: 0px;
}
.footer-col ul li{
    display: flex;
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    padding-left: 8px;
   
}
.footer-col ul li i{
    color: #ffffff;
    margin-top: 4px;
}
.footer-col ul li p{
    color: #ffffff;
    font-size: 16px;
    width: 300px;
    margin: 0 10px;
}

@media screen and (max-width:1080px){
    .footer-col{
        margin-left: 8%;
    }
}
@media screen and (max-width:375px){
    .footer-col{
        margin-left: 5%;
    }
}
