.header{
    display: grid;
    grid-template-columns: 80px auto 350px 1fr;
    height: 100px;
    margin: 24px 0px 50px 0px;
    gap:80px;
    
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo-img {
    width: 100px;
    height: 100px;
}
.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.header__nav-li{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header__nav-li:last-child {
    margin-right: 0px;
}
.link{
    font-family: "Nunito";
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 0px;
}
.link:hover{
    font-family: "Nunito";
    font-weight: 700;
    font-size: 2rem;
    color: var(--base-color);
    border-bottom: 2px solid var(--base-color);
}
.header__search{
    display: flex;
    align-items: center;
    width: 350px;
}

.header__information{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__information-notification{
    
}
.header__information-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;

}
.header__information-info i{
    font-size: 1.6rem;
    color: var(--text-color);
}
.header__information-info img{
    font-size: 1.6rem;
    margin-left: 20px;
    margin-right: 4px;
}
.header__information-info:hover + .dropdown-custom{
    display: block;
}
.btn--login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color2);
    border-radius: 20px;
    height: 40px;
    font-size: 16px;
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;

}
.btn--login:hover{
    text-decoration: none;
    color: var(--white-color);
}
.dropdown-custom {
    width: 170px;
    border-radius: 5px;
    box-shadow: 3px 6px 3px 0px #00000040;
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 100px;
    border: 1px solid #eee;
    display: none;
    background-color:var(--white-color);
}

.dropdown-custom::before{
    content: "";
    width: 170px;
    height: 20px;
    position: absolute;
    bottom:100%;
    left: 0;
    display: block;
    
}

.dropdown-item-custom{
    height: 30px;
    display: flex;
    align-items: center;
    font-family: Nunito;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #676767;
    text-decoration: none;

}
.dropdown-item-custom:hover {
    color:var(--base-color);
}
.dropdown-item-custom img{
    margin-right: 8px;
    

}