:root {
    --white-color: #fff;
    --black-color: #000;
    --black-secondary-color: #1d1d1d;
    --black-primary-color: #322651;
    --text-color: #333;
    --text-color2: #eee;
    --text-color3: #676767;
    --gray-color: #555555;
    --base-color: rgb(66, 91, 168);
    --base-color2: #EAAB23;
}

@font-face {
    font-family: Nunito;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
    src: url('webfont.eot');
    /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.svg#svgFontName') format('svg');
}
body{
    font-family: Nunito;
}

.grid-custom {
    width: 1140px;
    max-width: 100%;
    margin: 0px auto;
}

.grid-custom-mobile {
    width: 1080px;
    max-width: 100%;
    margin: 0px auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space__between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-form {
    width: 350px;
    position: relative;
    height: 40px;
}

.search-input {
    background-color: var(--text-color2);
    width: 350px;
    padding: 13px 16px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #676767;
    font-size: 1.3rem;
}

.search-btn {
    position: absolute;
    outline: none;
    border: none;
    top: 13px;
    right: 16px;
    cursor: pointer;
    width: 17px;
    height: 17px;
}

/* Danh sách sách không nền */

.book-list {
    margin-top: 80px;
}

.book-list__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.book-list__heading h2 {
    font-size: 2.4rem;
    font-family: "Nunito";
    font-weight: 800;
}

.book-list__heading a {
    font-size: 2rem;
    font-family: "Nunito";
    font-weight: 700;
    text-decoration: none;
}

.book-list a {
    text-decoration: none;
}

.book-item {
    width: 100%;
    margin: 0px;
}

.book-item img {
    width: 100%;
    height: 370px;
    border-radius: 10px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
}

.book-item h3 {
    width: 250px;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Nunito";
    margin: 24px 0px 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.book-item p {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Nunito";
    margin: 13px 0px;
    color: var(--text-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
    Danh sách sách có nền
*/

.book__list--background {
    background-color: var(--base-color);
    border-radius: 30px;
    padding: 40px;
    color: var(--text-color2);
}

.book__list--background h2 {
    color: var(--text-color2);
}

.book__list--background h3 {
    color: var(--text-color2);
}

.book__list--background p {
    color: var(--text-color2);
}

.book__list--background a {
    color: var(--text-color2);
}

.book__list--background .book-author {
    color: var(--text-color2);
}

.book__list--nobackground {}

.book__list--nobackground h2 {
    color: var(--base-color);
}

.book__list--nobackground h3 {
    color: var(--base-color);
}

.book__list--nobackground p {
    color: var(--text-color);
}

.book__list--nobackground a {
    color: var(--text-color3);
}

.book__list--nobackground .book-author {
    color: var(--text-color);
}

.book-detail-content__header-star, .book-star {
    color: var(--base-color2);
}

/* Nút */

.button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: none;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

.button__outline-lg {
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid currentColor;
    background-color: var(--text-color2);
    color: var(--base-color);
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.button__background-lg {
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid var(--base-color);
    background-color: var(--base-color);
    color: var(--text-color2);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.carousel-btn-custom {
    margin-top: -100px;
    margin-left: 0;
    background-color: var(--text-color3);
    padding: 10px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    color: var(--text-color2);
    font-size: 1.6rem;
}

.carousel-control-prev {
    display: flex;
    justify-content: flex-start;
}

.carousel-control-next {
    display: flex;
    justify-content: flex-end;
}

@keyframes FadeIn {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width:991px){
    .search-form{
        width: 90%;
    }
} 