.author-info {
    display: flex;
    justify-content: center;
}

.author-info-wrapper {}

.author-avatar {
    width: 25rem;
    height: 25rem;
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-bottom: 2rem;
}

.author-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.author-info__name {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--black-primary-color);
}

.author-info__dob  {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-color3);
    
}
.author-book__wrap{
    padding-left: 3.2rem;
}
.author-info__description {
    color: var(--text-color);
    word-break: break-word;
    margin-bottom: 5px;
    font-size: 1.3rem;
    line-height: 1.4;
}
.book-card-collection{
    display: flex;
    flex-wrap: wrap;
    gap: 3.6rem;
}
.book-card{
    max-width: 25rem;
    padding: 2.5rem;

    border-radius: 1rem;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.25);
}
.book-card__img{
    
    width: 20rem;
    height: 28rem;
}
.book-card__img a{
    text-decoration: none;
}
.book-card__img a img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.book-card__title{

    margin-top: 1.6rem;
}
.book-card__title a {
    text-decoration: none;

}
.book-card__title a h3{
    
    /* color:#343734; */
    color:var(--black-secondary-color);

    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.book-card__author{
    margin-top: 0.8rem;

    font-size: 1.4rem;
    font-weight: 600;

    line-height: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* color:#5c6468; */
    color:var(--text-color3);
}
.book-card__star{
    margin-top: 0.8rem;
    color:var(--base-color2);
}
.book-card__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.8rem;
}

.borrow-btn{
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border:none;
    background-color: var(--base-color);
    color:var(--text-color2);
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
}


.review-btn{
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    border:1px solid var(--base-color);
    background-color: var(--text-color2);
    color:var(--base-color);
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.25);
}
.review-btn:hover {
    text-decoration: none;
    color:var(--base-color);
}
.borrow-btn:hover {
    text-decoration: none;
    color:var(--text-color2);
}


.category-pagination__wrap{
    display: flex;
    justify-content: center;
}
.category-pagination { 
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

}

.category-pagination__btn {
    padding: 1rem ;
    color:var(--base-color);
    font-size: 1.6rem;
    font-weight: 700;
}

.category-pagination__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem ;

    height: 3rem;
    padding: 1rem ;
    color:var(--base-color);
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0 .5rem;
}
.category-pagination__num.active{
    /* border: 1px solid var(--base-color); */
    background-color: var(--base-color);
    border-radius: .5rem;
    color:var(--white-color);
}
.category-pagination__num:hover,.category-pagination__num:active,.category-pagination__num:focus{
    /* border: 1px solid var(--base-color);
    border-radius: .5rem;
    color:var(--base-color); */
    text-decoration: none;
}