.notification {}

.notification-header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--text-color2);
}

.notification-header__h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--base-color);
}

.notification-content {
    padding: 1rem;
    margin-top: 1.5rem;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0 , 0.25);
    border:1px solid var(--text-color2);
    border-radius: 1rem;
}

#notification-table {
    margin-bottom: 1rem;
    width: 100%;
}

#notification-table th {
    padding:1rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

#notification-table td {
    padding: 1.5rem;
    font-size: 1.4rem;
}
.notification__link{
    color:var(--black-secondary-color);
    text-decoration: none;
    font-weight: 600;
}
.notification__link:hover,.notification__link:active,.notification__link:focus{
    text-decoration: none;
    font-weight: 600;
    color:var(--black-color);
    
}
.content-center{
    text-align: center;
}
@media screen and (max-width:1080px) and (min-width: 768px){
    .notifi-mobile,.alert{
        margin-top: 70px;
        width: 100%;
    }
    .col-md-3 {
        margin-top: 70px;
    }
}
@media screen and (max-width:767px){
    .col-md-3 {
        margin-top: 30px;
    }
    .notifi-mobile{
        width: 100%;
    }
    .information-aside{
        margin-top: 50px;
    }
    .profile-info{
        margin-top: 50px;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr ,.table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
        position: relative;
        box-shadow: 0 0 4px 1px rgb(0 0 0 / 25%);
        border: 1px solid var(--text-color2);
        border-radius: 1rem;
    }
    .table td{
        text-align: right;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 15px;
        font-weight: bold;
    }
    .notification-content{
        
        border: none;
    }
    .notification__link{
        padding-left: 20%;
    }
      
  
   }