.post-detail__content {}

.post-detail__wrap {
    border: 1px solid var(--text-color2);
    border-radius: .8rem;
}

.post-detail__cover {
    width: 100%;
}

.post-detail__cover img {
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    width: 100%;
}

.post-detail__body {
    padding: 2rem 3rem;
    border-bottom: 1px double var(--text-color2);
}

.post-body__header {
    font-size: 3rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--black-primary-color);
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0 0 0 / 20%);
}

.post-body-react {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.post-view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 60px;
    height: 30px;
    color: var(--base-color2);
    background-color: rgba(234, 171, 35, .2);
    border-radius: .5rem;
    font-weight: 700;
    padding: .5rem;
}

.post-view i {
    font-size: 2rem;
}

.post-wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 30px;
    font-size: 1.6rem;
    background-color: #ffeff5;
    border-radius: .5rem;
    padding: .5rem;
}

.post-wishlist img {
    width: 2rem;
    height: 2rem;
}

.post-body__cates {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
}

.post-cate__item {
    background-color: #eee;
    padding: .5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 1px 2px 0 rgba(0 0 0 / 25%);
}

.post-cate__link {
    color: var(--base-color);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0 0 0 / 10%);
}

.post-cate__link:hover {
    text-decoration: none;
    color: var(--base-color);
}

.post-body-user__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.post-body__user {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.post-body-user__avatar {
    width: 4rem;
    height: 4rem;
}

.post-body-user__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.post-body__user {}

.post-body-user__name {}

.post-body-user__link {
    margin-bottom: .5rem;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.post-body-user__link:hover {
    text-decoration: none;
    color: var(--base-color);
}

.post-body-created {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color3);
}

.post-body__content {
    font-size: 1.6rem;
}

.post-detail-attachment {
    padding: 2rem 3rem;
    border-bottom: 1px solid var(--text-color2);
}

#post-attachment__wrap  {
    display: flex;
    gap: 2rem;
}

#post-attachment__wrap  div {
    border: 1px solid var(--text-color2);
    border-radius: .5rem;
}

#post-attachment__wrap  div:hover {
    background-color: var(--text-color2);
}

#post-attachment__wrap  div:hover>a {
    text-decoration: none;
}

#post-attachment__wrap  a {
    padding: 1rem;
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-color);
}

#post-attachment__wrap  a[href]::before {
    content: "";
    height: 5rem;
    width: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    vertical-align: center;
    background: center/contain;
}

#post-attachment__wrap  a[href$=".pdf"]::before {
    background-image: url('../../../images/file-attachment/pdf.svg');
}

#post-attachment__wrap  a[href$=".doc"]::before {
    background-image: url('../../../images/file-attachment/word.svg');
}

#post-attachment__wrap  a[href$=".docx"]::before {
    background-image: url('../../../images/file-attachment/google-docs.svg');
}

#post-attachment__wrap  a[href$=".zip"]::before {
    background-image: url('../../../images/file-attachment/zip.svg');
}

#post-attachment__wrap  a[href$=".png"]::before,
 #post-attachment__wrap  a[href$=".jpg"]::before, 
 #post-attachment__wrap  a[href$=".jpeg"]::before, 
 #post-attachment__wrap  a[href$=".gif"]::before, 
 #post-attachment__wrap  a[href$=".tiff"]::before {
    background-image: url('../../../images/file-attachment/image.svg');
}
#post-attachment__wrap  a[href$=".xlsx"]::before
 {
    background-image: url('../../../images/file-attachment/excel.svg');
}

.post-comment__header {
    margin-bottom: 2rem;
}

.post-comment__text {
    font-size: 1.6rem;
    color: var(--base-color);
    font-weight: 700;
}

.post-detail__comment {
    padding: 2rem 3rem;
}

.comment-box__wrapper {
    margin: .5rem 0;
    display: flex;
    gap: 2rem;
}

.comment-box__hidden {
    display: none;
}

.comment-box__image {
    width: 4rem;
    height: 4rem;
    display: block;
}

.comment-box__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.comment-box__content {
    width: 100%;
}

.comment__input textarea {
    padding: 1rem 1.5rem;
    background-color: #f3f3f3;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid var(--text-color2);
    border-radius: 1rem;
    resize: none;
}

.comment__input input {
    display: inline-block;
    width: 30rem;
    background-color: #f3f3f3;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--text-color2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.comment__input input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    color: #495057;
    background-color: #fff;
}

.comment__btn {
    display: flex;
    margin-top: 1rem;
}

.button-comment {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.5rem;
    border-radius: .5rem;
}

.button-comment span {
    margin-right: 1rem;
}

.button-comment:disabled {
    opacity: 0.7;
}

.button-cancel {
    margin-left: .5rem;
    padding: 0.8rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--text-color2);
    border: none;
    color: var(--text-color);
}

.button-cancel:hover {
    background-color: var(--text-color2);
    border: none;
    color: var(--text-color);
}

.post-detail__aside {}

.post-aside__user {
    border-radius: .5rem;
    border: 1px solid var(--text-color2);
}

.post-user__avatar {
    width: 9rem;
    height: 9rem;
    border-radius: 100px;
    margin: 1.5rem auto;
}

.post-user__img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.post-user__name {
    text-align: center;
    margin-bottom: 1rem;
}

.posts-of-user {}

.posts-of-user__header {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color3);
    padding: 0 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--text-color2);
}

.post-user__link {
    text-align: center;
    font-size: 1.6rem;
    color: var(--base-color);
    font-weight: 700;
}

.posts-of-user__list {}

.posts-of-user__item {}

.posts-of-user__link {
    border-bottom: 1px solid var(--text-color2);
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
}

.posts-of-user__link:hover {
    background-color: #eee;
    text-decoration: none;
}

.posts-of-user__link:hover .posts-of-user__title {
    text-decoration: none;
    color: var(--base-color);
}

.posts-of-user__title {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: var(--text-color);
}

.posts-of-user__tag {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.post-tag__item {
    font-size: 1.3rem;
    color: var(--text-color3);
    text-decoration: none;
}

@media screen and (max-width:991px)and (min-width: 768px) {
    .row {
        margin-top: 70px;
    }
}

@media screen and (max-width:767px)and (min-width: 375px) {
    .row {
        margin-top: 70px;
    }
}

/* Comment */

.book-user-comment {
    display: flex;
    gap: 2rem;
    margin-bottom: .5rem;
}

.book-user-comment:last-child {
    margin-bottom: 0;
    border: none;
}

.book-user-comment__body {
    max-width: 80%;
}

.book-user-comment__heading {}

.book-user-comment__name {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black-secondary-color);
    margin-bottom: 1rem;
}

.book-user-comment__date {}

.book-user-comment__content {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: var(--text-color)
}

.book-user-comment__message {
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: var(--text-color)
}

.book-user-comment__footer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.book-user-comment__link {
    position: relative;
}

.book-user-comment__link a {
    font-size: 1.4rem;
}

.book-user-comment__link::before {
    position: absolute;
    content: "";
    background-color: #ccc;
    width: 1px;
    left: calc(100% + 0.8rem);
    top: 0;
    bottom: 0;
}

.book-user-comment__date {
    font-size: 1.4rem;
}